@use 'colors' as c;

$primary: map-get(
  $map: c.$dark,
  $key: 300,
);

$accent: map-get(
  $map: c.$primary,
  $key: 400,
);

button {
  color: map-get($map: c.$dark, $key: 100);
  padding: 0.4rem 0.7rem;
  border: none;
  font-size: 1.1rem;
  outline: none;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  gap: 0.1rem;
  align-items: center;
  border-radius: 0.4rem;
  box-shadow: 0 0 0 1px $primary;
  transition: box-shadow 200ms ease-in-out;

  &:not([disabled]) {
    cursor: pointer;
  }

  &:hover {
    box-shadow: 0 0 0 2px $primary;
  }

  &:active:not([disabled]) {
    filter: brightness(0.8);
  }

  &:disabled {
    box-shadow: none;
  }

  &.accent {
    box-shadow: 0 0 0 1px $accent;
    &:hover {
      box-shadow: 0 0 0 2px $accent;
    }
  }
}

span {
  transform: scale(1.1);
  margin-left: -0.5rem;
}
