@use "colors" as c;

$primary: map-get(
  $map: c.$dark,
  $key: 300,
);

button {
  color: $primary;
  padding: 0.6rem 0.7rem;
  border: none;
  font-size: 1.1rem;
  outline: none;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  gap: 0.1rem;
  align-items: center;
  // margin: auto;
  border-radius: 0.4rem;
  box-shadow: 0 0 0 1px $primary;
  transition: box-shadow 200ms ease-in-out;

  &:not([disabled]) {
    cursor: pointer;
  }

  &:hover {
    box-shadow: 0 0 0 2px $primary;
  }

  &:active:not([disabled]) {
    filter: brightness(0.8);
  }

  &:disabled {
    box-shadow: none;
  }
}

span {
  // color: map-get($map: c.$primary, $key: 500);
  transform: scale(1.1);
}
