<div class="header-container" *ngIf="steps$ | async as steps">
  <div *ngFor="let header of headers" class="table-header">
    <ng-container [ngSwitch]="header.type">
      <div *ngSwitchCase="'space'"></div>
      <app-button *ngSwitchCase="'text'" [disabled]="true" [center]="true">{{
        header.label
      }}</app-button>
      <app-button
        [accent]="steps.includes(false)"
        *ngSwitchCase="'filter'"
        icon="expand_more"
        [center]="true"
        (click)="openFilter(header.component!, steps)"
      >
        {{ header.label }}
      </app-button>
    </ng-container>
  </div>
</div>
