@use "colors" as colors;

header {
  display: flex;
  padding: 1rem 0;
  max-width: 95%;
  margin: auto;
  justify-content: space-between;
  align-items: center;

  img {
    width: 3rem;
  }

  h3 {
    flex: 1 0 0;
    margin-left: 0.5rem;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
    }

    .email-avatar {
      display: grid;
      text-transform: uppercase;
      background-color: map-get($map: colors.$primary, $key: 500);
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      place-content: center;
    }
  }
}
