<header *ngIf="user$ | async as user">
  <div [routerLink]="['/']" style="display: flex; align-items: center; cursor: pointer">
    <img class="logo" src="./assets/img/logo.png" alt="Logo" />
    <h3>Cosecha</h3>
  </div>

  <nav>
    <ng-container *ngIf="user.email">
      <img
        [mat-menu-trigger-for]="profile"
        class="avatar"
        [title]="user.email"
        *ngIf="user.picture; else emailAvatar"
        [src]="user.picture"
        alt="User Picture"
      />
      <ng-template #emailAvatar>
        <div class="email-avatar" [mat-menu-trigger-for]="profile">
          {{ user.email.at(0) }}
        </div>
      </ng-template>
    </ng-container>
    <mat-menu #profile="matMenu">
      <button mat-menu-item (click)="onLogout()">
        <div class="language-flag">
          <span class="material-symbols-outlined">logout</span>
          Log Out
        </div>
      </button>
      <button mat-menu-item (click)="onProfileClick()">
        <div class="language-flag">
          <span class="material-symbols-outlined">settings</span>
          Profile
        </div>
      </button>
    </mat-menu>

    <app-button
      *ngIf="!user.isLoggedIn"
      [routerLink]="['/login']"
      [queryParams]="{ from: 'harvest' }"
    >
      Log In
    </app-button>

    <app-button [matMenuTriggerFor]="menu">
      <div class="language-flag">
        <img
          src="./assets/flags/{{ selectedLanguage() }}.png"
          alt="Language Flag"
          width="24"
          height="24"
        />
        {{ selectedLanguage() | uppercase }}
      </div>
    </app-button>
    <mat-menu #menu="matMenu">
      <button
        *ngFor="let language of languages"
        mat-menu-item
        (click)="onLangChange(language)"
      >
        <div class="language-flag">
          <img
            src="./assets/flags/{{ language }}.png"
            alt="Language Flag"
            width="24"
            height="24"
          />
          {{ language | uppercase }}
        </div>
      </button>
    </mat-menu>
    <a href="https://www.buymeacoffee.com/abelfubu" target="_blank" class="bmc-link">
      <img src="./assets/img/bmc-button.png" alt="Buy me a coffee button" />
    </a>
  </nav>
</header>
