<img [src]="item.image" [alt]="item.name">

<div class="cell">
	<p>{{item.name}}</p>
</div>

<div class="cell">
	<p>{{item.level}}</p>
</div>

<div class="cell">
	<p>{{item.subzone}}</p>
</div>

<div class="cell">
	<p>{{item.zone}}</p>
</div>

<div class="cell">
	<p>{{item.step}}</p>
</div>

<div [ngClass]="item.captured ? 'green' : 'red'" class="cell pointer" (click)="onCapturedChange(item)">
	<p>{{ item.captured ? 'Si' : 'No' }}</p>
</div>

<div class="cell">
	<button (click)="onAmountChange(item, item.amount ? item.amount + 1 : 1)">
		<span class="material-symbols-outlined"> arrow_drop_up </span>
	</button>
	<p>{{item.amount ?? '0'}}</p>
	<button [disabled]="!item.amount" (click)="onAmountChange(item, item.amount! - 1)">
		<span class="material-symbols-outlined"> arrow_drop_down </span>
	</button>
</div>