/* SCSS HEX */
$green: #98c379;
$red: #e06c75;
$light: #ffffffaa;
$light-blue: #a8dadcff;
$medium-blue: #457b9dff;
$dark-blue: #1d3557ff;
$warn: #e4b33e;

$primary: (
  50: #f3e5f5,
  100: #e1bee7,
  200: #ce93d8,
  300: #ba68c8,
  400: #ffdd00,
  500: #ffdd00,
  600: #ccb000,
  700: #7f6d00,
  800: #6a1b9a,
  900: #4a148c,
);

$dark: (
  100: #70777f,
  200: #50555e50,
  300: #50555e,
  400: #282c34,
  500: #00000d,
);
