<div style="display: grid; grid-template-columns: repeat(8, 1fr); text-align: center; padding: 1rem 0;">
	<div *ngFor="let title of ['', 'Nombre', 'Nivel', 'Subzona', 'Zona', 'Etapa', 'Capturado', 'Repetido']"
		style="display: flex; justify-content: center;" [ngStyle]="{ cursor:title === 'Etapa'? 'pointer': ''}">
		<span *ngIf="title === 'Etapa'" class="material-symbols-outlined"
			style="cursor: pointer;transform: translateY(-2.5px)">
			expand_more
		</span>
		<h5 (click)="openFilter(title)">{{title}}</h5>
	</div>
</div>
<ng-container *ngIf="data?.length">
	<app-harvest-item *ngFor="let item of data" [item]="item"></app-harvest-item>
</ng-container>