<img [ngSrc]="item.image" [alt]="item.name" width="120" height="112" priority />

<div class="cell">
  <p>{{ item.name }}</p>
</div>

<div class="cell center">
  <p>{{ item.level }}</p>
</div>

<div class="cell">
  <small>{{ item.subzone }}</small>
</div>

<div class="cell center">
  <p>{{ item.step }}</p>
</div>

<div
  [ngClass]="item.captured ? 'green' : 'red'"
  [ngStyle]="{ 'pointer-events': !editable && 'none' }"
  class="cell center pointer not-selectable"
  (click)="onCapturedChange(item)"
>
  <span class="material-symbols-outlined">
    {{ item.captured ? 'check' : 'close' }}
  </span>
</div>

<div
  [class.warn]="!!item.amount"
  class="cell center not-selectable"
  [ngStyle]="{ 'pointer-events': !editable && 'none' }"
>
  <button
    [disabled]="!editable"
    (click)="onAmountChange(item, item.amount ? item.amount + 1 : 1)"
  >
    <span class="material-symbols-outlined"> arrow_drop_up </span>
  </button>
  <p>{{ item.amount ?? '0' }}</p>
  <button
    [disabled]="!item.amount || !editable"
    (click)="onAmountChange(item, item.amount! - 1)"
  >
    <span class="material-symbols-outlined"> arrow_drop_down </span>
  </button>
</div>
