@use 'colors' as c;

:host {
  display: block;
  position: relative;
}

$primary: map-get(
  $map: c.$dark,
  $key: 300,
);

input {
  color: c.$light;
  padding: 0.33rem 0.7rem;
  border-radius: 0.4rem;
  border: none;
  box-shadow: 0 0 0 1px $primary;
  font-size: 1.2rem;
  outline: none;
  width: 100%;
  background-color: transparent;
  transition: box-shadow 200ms ease-in-out;

  &:focus {
    box-shadow: 0 0 0 2px $primary;
    background-color: transparent;
  }

  &:hover {
    box-shadow: 0 0 0 2px $primary;
  }
}

p {
  font-size: 0.7rem;
  position: absolute;
  bottom: -1.3rem;
}
