<input
  [type]="type"
  [formControl]="control"
  [placeholder]="placeholder"
  autocomplete="off"
  [readonly]="readonly"
/>

<ng-container *ngIf="control.touched">
  <p *ngIf="control.errors?.['required']">El campo es obligatorio</p>
  <p *ngIf="control.errors?.['email']">Introduce un email válido</p>
  <p *ngIf="control.errors?.[ 'max' ]">
    El campo tiene que tener como mínimo {{ control.errors?.['max'].max }} caracteres
  </p>
  <p *ngIf="control.errors?.['min']">
    El campo tiene que tener como mínimo {{ control.errors?.['min'].min }} caracteres
  </p>
  <p *ngIf="control.errors?.['pattern']">
    La contraseña debe tener como mínimo una letra minúscula, una letra mayúscula y un
    número o un simbolo
  </p>
</ng-container>
